<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body style="background-color: #8bb18b">
<h1>welcome to login page <%=JSON.stringify(result1)%></h1>

<% for(var i=0;i<result2.length;i++){%>
	<li><%= result2[i].name%></li>
<%}%>
<form method="get" action="/search" >
<input type="text" placeholder="search" name="search">
<input type="submit" name="" >
</form>
<% for(var i=0;i<results.length;i++){%>
	<li><%= results[i].name%></li>
<%}%>
</body>
</html>